.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: purple
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.google-book-search {
  font-size: 48px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.book-search-small {
  font-size: 18px;
  font-family: 'Arial Narrow';
}

.book-title {
  font-size: 24px;
  font-family: 'Old Standard TT', serif;
}

.nav-item {
  font-size: 24px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

